@import "https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700%7CMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CPlayfair+Display:400,400i,700,700i,900,900i%7CPoppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i%7CWork+Sans:300,400,500,600,700,800";

body {
  background-image: url(/assets/img/body_bg3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
}
